@use '../../globals' as globals;

.modal-underlay {
    position: fixed;
    background: rgba(#000, 0.3);
    transform: translateZ(5em);
    width: 150%;
    height: 150%;
    display: grid;
    place-items: center;
}
.modal-content {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    @include globals.magicFont;
    width: 30vw;
    height: 40vh;
    background: #e8e8e8;
    border-radius: 30px;
}
.modal-buttons-container {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}
.modal-close-button {
    position: absolute;
    background: transparent;
    border: none;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: rgb(144, 0, 0);
}
.restart-game-button {
    top: -200%;
    left: 50%;
    width: max-content;
    text-wrap: nowrap;
    font-size: 20px;
    @include globals.button;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.social-media-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &.portfolio {
        width: 40px;
    height: 40px;
        background-image: url('/portfolioImage.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.github {
        background-image: url('/github.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.linkedin {
        background-image: url('/linkedin.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1500px) {
    .modal-content {
        width: 50vw;
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .modal-underlay {
        transform: translateZ(20em);
    }
    .modal-content {
        top: 23%;
        height: 35vh;
        width: 55vw;
    }
    .links {
        gap: 5px;
    }
    .social-media-icon {
        scale: 0.7;
    }
    .restart-game-button {
        font-size: 12px;
        width: max-content;
    }
}