@use '../../globals' as globals;

.modal-underlay {
    position: fixed;
    background: rgba(#000, 0.3);
    transform: translateZ(5em);
    width: 150%;
    height: 150%;
    display: grid;
    place-items: center;
}
.modal-content {
    position: absolute;
    top: 50%;
    translate: 0 -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    @include globals.magicFont;
    width: 30dvw;
    height: max-content;
    background: #e8e8e8;
    border-radius: 30px;
    gap: 15px;
}
.modal-buttons-container {
    display: grid;
    place-items: center;
    gap: 15px;
}
.modal-close-button {
    position: absolute;
    background: transparent;
    border: none;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: rgb(144, 0, 0);
}
.restart-game-button {
    width: max-content;
    text-wrap: nowrap;
    font-size: 20px;
    @include globals.button;
    &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.social-media-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &.portfolio {
        width: 40px;
    height: 40px;
        background-image: url('/portfolioImage.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.github {
        background-image: url('/github.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.linkedin {
        background-image: url('/linkedin.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1500px) {
    .modal-content {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {

    .modal-underlay {
        transform: translateZ(20em);
    }
    .modal-close-button {
        right: 15px;
        top: 15px;
    }
    .modal-content {
        translate: 0 -120%;
        height: 50dvh;
        font-size: 20px;
        padding: 5px;
    }
    .modal-buttons-container {
        gap: 0;
    }
    .links {
        gap: 5px;
    }
    .social-media-icon {
        scale: 0.7;
    }
    .restart-game-button {
        font-size: 12px;
    }
}