@use '../../globals' as globals;

.modal-underlay {
    position: fixed;
    background: rgba(#000, 0.4);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.modal-content {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    @include globals.magicFont;
    width: 30vw;
    height: 40vh;
    background: #e8e8e8;
    border-radius: 30px;
}
.modal-buttons-container {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.restart-game-button {
    top: -150%;
    left: 50%;
    width: 100%;
    font-size: 20px;
    @include globals.button;
    color: white;
    background: radial-gradient(rgba(65,65,65,1) 0%, rgba(158,158,158,1) 100%);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .portfolio-icon {
        background-image: url('/portfolioImage.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

@media (max-width: 1500px) {
    .modal-content {
        width: 50vw;
    }
}
@media (max-width: 500px) {
    .modal-content {
        width: 95vw;
    }
}