.ground {
  display: grid;
  place-items: center;
  
  position: absolute;
  width: 30em;
  height: 20em;
  border-radius: 10em;
  background: transparent;
  background-image:
  // just turn down the transparency 
    repeating-linear-gradient(#5f3e008b , #644e008d 20px);
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(-5em);
}

.ground-mist {
  position: absolute;
  width: 101%;
  height: 101%;
  transform: translateZ(0.01em);
  background-image: 
  radial-gradient(#0000, rgb(199, 199, 199) 90%);
  border-radius: 10em;
  background-size: 120%;
}