$pitch-length: 10em;
$pitch-width: 22em;
$mark-line-width: 0.04em;

$goal-marking-width: 7%;
$goal-marking-height: 55%;
$goal-marking-box-shadow: 0 0 1em rgba(54, 54, 54, 0.667) inset;

.pitch {
  position: absolute;
  width: $pitch-width;
  height: $pitch-length;
  border-radius: 50%;
  border: solid $mark-line-width white;
  background-image: 
    repeating-linear-gradient(#508a3b , #018510 0.33em);
  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: solid white $mark-line-width;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 0.7em;
    transform: translateX(-50%) translateY(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    background: white;
    left: 50%;
    width: $mark-line-width;
    height: $pitch-length;
    transform: translateX(-50%);
  }
  & div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    // background-color: rgba(128, 0, 128, 0.386);
    overflow: hidden;
    &::before {
      content: '';
      width: $goal-marking-width;
      height: $goal-marking-height;
      position: absolute;
      background-color: white;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: $goal-marking-box-shadow;
    }
    &::after {
      content: '';
      width: $goal-marking-width;
      height: $goal-marking-height;
      position: absolute;
      background-color: white;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      box-shadow: $goal-marking-box-shadow;
    }
  }
}