$pitch-length: 10em;
$pitch-width: 22em;
$mark-line-width: 0.04em;

.pitch {
  
  position: absolute;
  width: $pitch-width;
  height: $pitch-length;
  border-radius: 50%;
  border: solid $mark-line-width white;
  background-image: 
    repeating-linear-gradient(#508a3b , #018510 0.33em);
  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: solid white $mark-line-width;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 0.7em;
    transform: translateX(-50%) translateY(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    background: white;
    left: 50%;
    width: $mark-line-width;
    height: $pitch-length;
    transform: translateX(-50%);
  }
}