////////////////////////////////////////////////////////////////////////
/// Durations

$cubeSpeed: 2s;
$rotateSpeed: 20s;


////////////////////////////////////////////////////////////////////////
/// Fonts

@font-face {
  font-family: 'MagicFont';
  src: url("./assets/fonts/MagicSchoolTwo.ttf");
}
@mixin magicFont {
  font-family: 'MagicFont';
}

@font-face {
  font-family: 'readableFont';
  src: url("./assets/fonts/Benne/Benne-Regular.ttf");
}
@mixin readableFont {
  font-family: 'readableFont';
}

@mixin rotate-scene-animation($rotate-speed) {
  animation: sceneRotate $rotate-speed infinite linear;
}

@keyframes sceneRotate {
  to { transform: rotateY(360deg); }
}

@keyframes sceneRotate {
0% { transform: rotateY(0deg); }
100% { transform: rotateY(360deg); }
}


////////////////////////////////////////////////////////////////////////
/// COLORS

$slytherin-color:
  radial-gradient(#0000, rgba(206, 206, 206, 0.7) 95%),
  repeating-conic-gradient(
  from 90deg,
  green 0deg 90deg,
  #fff 90deg 180deg);

$ravenclaw-color:
  radial-gradient(#0000, rgba(206, 206, 206, 0.7) 95%),
  repeating-conic-gradient(
  from 90deg,
  rgb(4, 31, 186) 0deg 90deg,
  #fff 90deg 180deg);

$gryffindor-color:
  radial-gradient(#0000, rgba(206, 206, 206, 0.7) 95%),
  repeating-conic-gradient(
  from 90deg,
  rgb(248, 0, 0) 0deg 90deg,
  #e5f10c 90deg 180deg);

$huflpuff-color:
  radial-gradient(#0000, rgba(206, 206, 206, 0.7) 95%),
  repeating-conic-gradient(
  from 90deg,
  rgb(65, 65, 65) 0deg 90deg,
  #c5d21b 90deg 180deg);


////////////////////////////////////////////////////////////////////////
/// Buttons

@mixin button {
  position: absolute;
  cursor: pointer;
  box-shadow: 7px 7px 10px black;
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  @include readableFont;
  transition: all 0.2s;
  transform: translateX(-50%);
  &:hover {
    transform: translateX(-50%) scale(1.05);
  }
  &:active {
    transform: translateX(-50%) scale(0.95);
  }
}